<div id="main-container" class="main-container">
    <div class="container-flex">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Administración Servicios <i class="far fa-address-book"></i></h4>
            </div>
          </div>
          <div class="card-body ">
            <div class="container-fluid">
              <div class="container">
                <div class="row">
                  <div id="form" class="col-sm-12">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Nombre del Producto</label>
                        <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control"
                          id="nombre" aria-describedby="nombre" placeholder="Nombre del Producto">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Descripcion Categoria</label>
                        <input type="text" [(ngModel)]="descripcion" name="descripcion" class="form-control"
                          id="descripcion" aria-describedby="descripcion" placeholder="Descripcion de la categoria">
                      </div>
                      <button (click)="guardar()" type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">codigo servicio</th>
                          <th scope="col">descripcion del servicio</th>
                          <th scope="col">codigo del producto</th>
                          <th scope="col">nombre del producto</th>
                          <th scope="col">precio del producto</th>
  
  
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of this.categorias">
                          <th scope="row">{{item.codigo}}</th>
                          <th scope="row">{{item.flagServicio}}</th>
                          <th scope="row">{{item.idProducto.idProducto}}</th>
                          <th scope="row">{{item.nombre}}</th>
                          <th scope="row">{{item.existenciaProducto.precioVenta}}</th>
              
                          <td>
                            
  
                          </td>
                          <td>
                            <button mat-raised-button class="btn btn-danger"
                              (click)="this.eliminar(item.codigo)">Eliminar</button>
                            <button mat-raised-button class="btn btn-info"
                              (click)="this.actualizar(item.codigo)">Actualizar</button>
                          </td>
  
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <div *ngFor="let item of categoriastamanio">
                    <li class="page-item"><a class="page-link" (click)="cargar(item + 1)">{{(item/10) + 1 || 1}}</a></li>
                  </div>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>