<div id="main-container" class="main-container">
    <div class="container-flex">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Sub-Categoria <i class="far fa-address-book"></i></h4>
            </div>
          </div>
          <div class="card-body ">
            <div class="container-fluid">
              <div class="container">
                <div class="row">
                  <div id="form" class="col-sm-12">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Descripcion Sub-Categoria</label>
                        <input type="text" [(ngModel)]="this.subcategoria.descripcion" name="descripcion" class="form-control"
                          id="descripcion" aria-describedby="descripcion" placeholder="Descripcion de la categoria">
                        
                      </div>
                      <div class="form-group">
                        <div class="row">
                            <div class="col-sm-4">

                                <mat-form-field class="example-full-width">
                                  <input [(ngModel)]="this.categoria.descripcion" name="descripcionCategoria" matInput type="text"
                                    placeholder="Categoria" disabled="true">
                                </mat-form-field>
                
                
                              </div>
                              <div class="col-sm-2">
                                <button  mat-raised-button class="btn btn-info" 
                                class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Buscar</button>
                              </div>
                        </div>
                          
                        </div>
                      <button (click)="guardar()" type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">idSubCategoria</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">acciones</th>
  
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of this.categorias">
                          <th scope="row">{{item.idTipoProducto}}</th>
                          <th scope="row">
                              <mat-form-field class="example-full-width">
                                <input id="{{item.idTipoProducto}}" value="{{item.descripcion}}" name="descripcion" matInput type="text"
                                  placeholder="Categoria">
                              </mat-form-field>
                          </th>
                          <td>
                            <button mat-raised-button class="btn btn-danger"
                              (click)="this.eliminar(item.idTipoProducto)">Eliminar</button>
                            <button mat-raised-button class="btn btn-info"
                              (click)="this.actualizar(item.idTipoProducto)">Actualizar</button>
                          </td>
  
                        </tr>
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <div *ngFor="let item of categoriastamanio">
                    <li class="page-item"><a class="page-link" (click)="cargar(item + 1)">{{(item/10) + 1 || 1}}</a></li>
                  </div>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-cliente
[titulo]="elementosLista.titulo"
[query]="elementosLista.query"
[tablaTitulos]="elementosLista.tablaTitulos"
[tablaElementos]="elementosLista.tablaElementos"
(increment)="selecion($event)"></app-cliente>