<div id="main-container" class="main-container">
    <div class="container-flex">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header card-header-rose card-header-text">
            <div class="card-text">
              <h4 class="card-title">Agregar ficha <i class="far fa-address-book"></i></h4>
            </div>
          </div>
          <div class="card-body ">
            <div class="container">
             <!--  <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <input [(ngModel)]="name" matInput [matDatepicker]="picker" placeholder="Fecha" (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
  
              </div> -->
              <div class="row">
                <div class="col-sm-4">
  
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="empleado.nombre" name="filtro.empleado" matInput type="text"
                      placeholder="Empleado" disabled="true">
                  </mat-form-field>
  
  
                </div>
                <div class="col-sm-2">
                  <button mat-raised-button class="btn btn-info" 
                  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">Buscar</button>
                </div>
                <div class="col-sm-4">
  
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="cliente.nombre" name="cliente" disabled="true" matInput type="text"
                      placeholder="Cliente">
                  </mat-form-field>
  
  
                </div>
                <div class="col-sm-2">
                  <button  mat-raised-button class="btn btn-info"
                  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Buscar</button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="dropdown">
                    <button href="#" class="btn dropdown-toggle btn-block btn-primary" data-toggle="dropdown"
                      aria-expanded="true">
                      Categoria
                      <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" style="height: 200px; overflow-y: scroll !important">
                      <li *ngFor="let item of this.categorias">
                        <a style="cursor: pointer" (click)="categoriaSeleccionada(item)">
                        {{item.descripcion}}
                      </a>
                    </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="dropdown">
                    <button *ngIf="!this.seleccionCategoria" href="#" class="btn dropdown-toggle btn-block btn-danger" data-toggle="dropdown"
                      aria-expanded="true">
                      Subcategoria
                      <b class="caret"></b>
                    </button>
                    <ul class="dropdown-menu" style="height: 200px; overflow-y: scroll !important">
                        <li *ngFor="let item of this.subCategorias">
                          <a style="cursor: pointer" (click)="subCategoriaSeleccionada(item)">
                          {{item.nombre || 'nombre no registrado'}} / {{item.descripcion || 'descripcion no registrado'}}
                        </a>
                      </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <br>
                  <mat-form-field class="example-full-width">
                    <textarea [(ngModel)]="ficha.motivoConsulta" matInput placeholder="Motivo"></textarea>
                  </mat-form-field>
  
                </div>
                <div class="col-sm-6">
                  <br>
                  <mat-form-field class="example-full-width">
                    <textarea [(ngModel)]="ficha.diagnostico" matInput placeholder="Diagnostico"></textarea>
                  </mat-form-field>
  
                </div>
  
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="example-full-width">
                    <textarea [(ngModel)]="ficha.observacion" matInput placeholder="Observaciones"></textarea>
                  </mat-form-field>
  
  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                  <button (click)="createficha()" mat-raised-button class="btn btn-primary btn-round">
                    <i class="material-icons">favorite</i> Guardar
                    </button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h2>Servicios creados apartir de esta ficha</h2>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center">Fecha</th>
                          <th>Presupuesto</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center">sss</td>
                          <td class="text-right">&euro; 123</td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-info">
                              <i class="material-icons">person</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-success ">
                              <i class="material-icons">edit</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-cliente 
  [titulo]="elementosLista.titulo"
  [query]="elementosLista.query"
  [tablaTitulos]="elementosLista.tablaTitulos"
  [tablaElementos]="elementosLista.tablaElementos"
  (increment)="selecionCliente($event)"></app-cliente>
  <app-empleado
  [titulo]="elementosLista2.titulo"
  [query]="elementosLista2.query"
  [tablaTitulos]="elementosLista2.tablaTitulos"
  [tablaElementos]="elementosLista2.tablaElementos"
  (increment)="selecionCliente($event)"></app-empleado>