<div class="main-container">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div id="form" class="col-sm-12">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Descripcion Categoria</label>
              <input type="text" [(ngModel)]="descripcion" name="descripcion" class="form-control" id="descripcion"
                aria-describedby="descripcion" placeholder="Descripcion de la categoria">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button (click)="guardar()" type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" *ngFor="let item of this.categorias" href="#">{{item.descripcion}}</a>
            </div>
          </div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">descripción</th>
                <th scope="col">acciones</th>
        
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.categorias">
                <th scope="row">{{item.idCategoria}}</th>
                <td>
                    <div class="col-sm-4">
                        <mat-form-field class="example-full-width">
                          <input matInput type="text" placeholder="descripcion" value="{{item.descripcion}}" id="{{item.idCategoria}}" >
                        </mat-form-field>
                      </div>
                  
                </td>
                <td>
                  <button mat-raised-button class="btn btn-danger" (click)="this.eliminar(item.idCategoria)">Eliminar</button>
                  <button mat-raised-button class="btn btn-info" (click)="this.actualizar(item.idCategoria)">Actualizar</button>
                </td>
               
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <app-admin-categoria></app-admin-categoria>

</div>