<!-- <div class="row">
    <div id="form" class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre</label>
          <input type="text" [(ngModel)]="paciente.nombre" name="nombre" class="form-control"
            id="nombre" aria-describedby="nombre" placeholder="Nombre">
          <label for="exampleInputEmail1">Apellido</label>
          <input type="text" [(ngModel)]="paciente.apellido" name="apellido" class="form-control"
            id="apellido" aria-describedby="apellido" placeholder="Apellido">
          <label for="exampleInputEmail1">Telefono</label>
          <input type="text" [(ngModel)]="paciente.telefono" name="telefono" class="form-control"
            id="telefono" aria-describedby="telefono" placeholder="Telefono">
          <label for="exampleInputEmail1">Email</label>
          <input type="text" [(ngModel)]="paciente.email" name="email" class="form-control"
            id="email" aria-describedby="email" placeholder="Email">
          <label for="exampleInputEmail1">Ruc</label>
          <input type="text" [(ngModel)]="paciente.ruc" name="ruc" class="form-control"
            id="ruc" aria-describedby="ruc" placeholder="RUC">
          <label for="exampleInputEmail1">Cedula</label>
          <input type="text" [(ngModel)]="paciente.cedula" name="cedula" class="form-control"
            id="cedula" aria-describedby="cedula" placeholder="Cedula">
          <input type="text" [(ngModel)]="paciente.tipoPersona" name="tipoPersona" class="form-control"
            id="tipoPersona" aria-describedby="tipoPersona" placeholder="Tipo de Persona" >              
          <label for="exampleInputEmail1">Fecha de Nacimiento</label>
          <div class="col-sm-6">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Fecha" (click)="picker.open()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>      
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
            else.</small>
        </div>
        <button (click)="this.actualizar()" type="submit" class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
 -->